.recepise {
  padding: 80px 0;
}
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 16px;
}
.list-recept {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.card {
  width: calc((100% - 2 * 16px) / 3);
  overflow: hidden;
  border-radius: 8px;
  position: relative;
  background-color: gray;
}
.card-img {
  position: absolute;
  
  inset: 0;
  object-fit: cover;
  object-position: center;

}
.card-body {
  padding: 16px;
  position: relative;
}
.card-favorit-btn {
  margin-bottom: 128px;
}
.card-favorit-icon {
}
.card-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;

  text-align: center;
  text-transform: uppercase;

  color: #f8f8f8;
}
.card-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  color: #f8f8f8;
}
.card-content {
    display: flex;
    gap: 9px;
}
.card-content-rating {
}
.card-content-value {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  color: #f8f8f8;
}
.card-content-icons {

    width: 90px;
    height: 18px;
}
.card-content-btn {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;

  color: #f8f8f8;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  border: none;
  gap: 10px;

  min-width: 93px;
  min-height: 31px;

  background: #9bb537;
  border-radius: 8px;
}
